@import 'variables';
@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(min-width: 768px) and (max-width: 1023px)";

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.mixin-container() { // mixin
    left: 50%;
    z-index: 2;
    position: absolute;
    transform: translate(-50%, -50%);
}

body {
    background-color: @background;

    .text-overlay {
        color: @colorText;
        font-size: 42px;
        font-family: "Jaini", system-ui;
        text-align: center;
        text-shadow: 8px 7px 9px @background; // sombra no texto
        .mixin-container();
    }
    
    .bkg-repeat {
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        overflow: hidden;
        
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(90deg, @pinkGradient, @greenGradient);
            mix-blend-mode: screen; // mistura o gradiente com o conteúdo
            z-index: 1;
        }

        .carousel-wrapper {
            display: flex;
            animation: carousel 20s linear infinite;

            img {
                width: 100%;
                height: 60vh;
                object-fit: cover;
                filter: brightness(0.1);
                position: relative;
                animation: carousel 20s linear infinite; /* Aplicando a animação de carrossel às imagens */
                margin: 20px;
            }
        }
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
    
        img {
            width: 50%;
            object-fit: cover;
            position: absolute;
            top: 30%;
            left: 25%;
            z-index: 2;
            cursor: pointer;
            animation: float 2s infinite alternate ease-in-out;

            @media screen and (@breakpointMobile) {
                top: 20%;
                width: 80%;
                left: 10%;
            }

            &:hover {
                animation: shake 5s ease;
            }
        }

        .text-overlay {
            top: 90%;
            width: 100%;

            @media screen and (@breakpointMobile) {
                top: 60%;
                font-size: 28px;
            }
        }
        
    }

    .main-characters {
        top: 120%;
        gap: 150px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .mixin-container();

        @media screen and (@breakpointMobile) {
            display: block;
            top: 130%;
            left: 56%;
        }

        @media screen and (@breakpointTablet) {
            gap: 85px;
        }

        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: 1px 1px 20px 13px @weakBackground;
            cursor: pointer;
            animation: shake 10s infinite;

            @media screen and (@breakpointMobile) {
                margin: 50px 0;
            }

            @media screen and (@breakpointTablet) {
                width: 170px;
                height: 170px;
            }
        }
    }

    .sinopse {
        .text-overlay {
            top: 180%;
            width: 65%;

            @media screen and (@breakpointMobile) {
                top: 250%;
                width: 85%;
                font-size: 28px;
            }
        }
    }

    .ticket {
        font-size: 40px;
        top: 225%;
        color: @ticketColor;
        .mixin-container();

        @media screen and (@breakpointMobile) {
            font-size: 30px;
            top: 300%;
            width: 100%;
            text-align: center;
        }

        span {
            font-family: "Jersey 15", sans-serif;
            border: 5px solid @borderColor;
            padding: 15px;
            box-shadow: 1px 1px 20px 4px @borderColor;
            cursor: pointer;

            &:hover {
                box-shadow: inset 1px 1px 20px 4px @borderColor;
            }
        }
    }
    
    .trailer {
        video {
            width: 70%;
            top: 285%;
            .mixin-container();

            @media screen and (@breakpointMobile) {
                top: 335%;
                width: 85%;
            }
        }
    }

    .catch-phrase {
        .text-overlay {
            top: 330%;
            width: 100%;

            @media screen and (@breakpointMobile) {
                font-size: 20px;
                top: 360%;
            }
        }
    }

    .icons {
        top: 360%;
        gap: 170px;
        object-fit: cover;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .mixin-container();

        @media screen and (@breakpointMobile) {
            gap: 60px;
            top: 380%;
        }

        @media screen and (@breakpointTablet) {
            gap: 160px;
        }
        
        img {
            width: 12vh;
            height: 13vh;

            @media screen and (@breakpointMobile) {
                width: 9vh;
                height: 10vh;
            }

            @media screen and (@breakpointTablet) {
                width: 10vh;
                height: 11vh;
            }
        }

        #first-animation {
            animation: rightrotate 5s infinite linear;
        }
        
        #separate-animation {
            animation: pulse 2s infinite alternate;
        }

        #second-animation {
            animation: leftrotate 5s infinite linear;
        }

    }
}

@keyframes carousel {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@keyframes bounce {
    0% { transform: scale(1); }
    30% { transform: scale(0.9); }
    50% { transform: scale(1); }
    70% { transform: scale(0.95); }
    100% { transform: scale(1); }
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

@keyframes shake {
    0% { transform: translate(10px, 0px) rotate(0deg); }
    25% { transform: translate(-10px, -20px) rotate(-5deg); }
    50% { transform: translate(-20px, 0px) rotate(5deg); }
    75% { transform: translate(10px, 20px) rotate(0deg); }
    100% { transform: translate(10px, 0px) rotate(-5deg); }
}

@keyframes rightrotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes leftrotate {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}